[submodule "hometown-homepage"]
	path = hometown-homepage
	url = https://github.com/logan-tolbert/scrimba-portfolio.git
[submodule "passenger-counter"]
	path = passenger-counter
	url = https://github.com/logan-tolbert/scrimba-portfolio.git
